
<!DOCTYPE HTML PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>香港交易所(00388)行业对比-HKF10资料</title>
    <link rel="shortcut icon" type="image/x-icon" href="//g1.dfcfw.com/g1/special/favicon_shortcut.ico" />
    <link rel="stylesheet" type="text/css" href="/PC_HKF10/Content/css/style.css?v=1.0.1.4976" />
    <link rel="stylesheet" type="text/css" href="/PC_HKF10/Content/Css/common.css?v=1.0.1.4976" />
    <link rel="stylesheet" type="text/css" href="/PC_HKF10/Content/css/pagination.css?v=1.0.1.4976" />
    <link href="/PC_HKF10/Content/css/web_control.css?v=1.0.1.4976" rel="stylesheet" />
    <link href="/PC_HKF10/Content/css/web_head.css?v=1.0.1.4976" rel="stylesheet" />
    <link href="/PC_HKF10/Content/css/qphf.css?v=1.0.1.4976" rel="stylesheet" />
    <script type="text/javascript" src="/PC_HKF10/Content/JSCommon/qphf.js?v=1.0.1.4976" charset="gb2312"></script>
    <script type="text/javascript" src="/PC_HKF10/Content/JSCommon/HisAcc.js?v=1.0.1.4976" charset="gb2312"></script>
    <script src="/PC_HKF10/Content/JSF10/A_base.min.js?v=1.0.1.4976"></script>
    <script src="/PC_HKF10/Content/js/pagination.js?v=1.0.1.4976"></script>
    <script type="text/javascript">

        //锚点定位
        function AutoScroll() {
            setTimeout(function () {
                var array = window.location.href.split('#');
                if (array.length == 2) {
                    EM("[href='#" + array[1] + "']").click();
                }
            }, 200);
        }
    </script>
    <script type="text/javascript" charset="UTF-8">
        try {
            var emtj_isUpload = 1;
            var emtj_pageId = 113301310291;
            var emtj_startTime = new Date().getTime();
            var emtj_logSet = "1100000000";
            var emtj_sampleRate = 1;
            var emtj_otherinfo = { 'LocModuleKey': 'gg', 'Terminal': 'WEB' };
        } catch (err) { }
    </script>
    <script type="text/javascript" src="https://bdstatics.eastmoney.com/web/prd/bigdata_tracker_top.js?v=1.0.1.4976" charset="UTF-8"></script>
</head>
<body class="white-bg">
<input id="hidName" type="hidden" value="香港交易所" />
<input id="hidCode" type="hidden" value="00388" />
<input id="hidType" type="hidden" value="web" />
<input id="hidColor" type="hidden" value="b" />
<input id="hidStyle" type="hidden" value="white-bg" />
<script>
    //有子目录SubPath="/XXX
    //无子目录SubPath=""
    var SubPath = "/PC_HKF10";
</script>
<div class="container">

    <style>
        .maintop {
            position: static;
            width: 1000px;
        }

        .container {
            margin-top: 0px;
            width: 1000px;
        }

        .white-bg .maintop .header_list li a {
            width: 163px;
        }

        .title_com {
            width: 1000px;
        }

        .qphox .mainnbox .qmbox .nbox .rbox .search-box {
            padding: 5px 0;
            z-index: 99;
        }

        .qphox .mainnbox .qmbox .nbox .rbox .search-box input[type="text"] {
            border: none;
            height: 19px;
            line-height: 19px;
            width: 228px;
            text-indent: 5px;
            color: #666;
            border: solid 1px #ff5025;
            padding: 1px 0;
            margin: 0px;
            margin-left: 11px;
            text-align: left;
        }

        .qphox .mainnbox .qmbox .nbox .rbox .search-box input[type="submit"] {
            border: none;
            background-color: #ff5025;
            height: 23px;
            line-height: 21px;
            width: 51px;
            cursor: pointer;
            color: #fff;
            padding: 1px 6px;
            margin: 0px;
        }

        .search-box table, .search-box table tr td {
            border: 0px;
        }
    </style>
    <div class="main">

        <div class="qphox">
            <div class="tmbox">
                <ul>
                    <li><a target="_blank" href="http://finance.eastmoney.com/">财经</a></li>
                    <li class="i">|</li>
                    <li><a target="_blank" href="http://finance.eastmoney.com/yaowen.html">要闻</a></li>
                    <li class="i">|</li>
                    <li><a target="_blank" href="http://stock.eastmoney.com/">股票</a></li>
                    <li class="i">|</li>
                    <li><span class="red"><a target="_blank" href="http://stock.eastmoney.com/newstock.html">新股</a></span></li>
                    <li class="i">|</li>
                    <li><a target="_blank" href="http://stock.eastmoney.com/gzqh.html">期指</a></li>
                    <li class="i">|</li>
                    <li><a target="_blank" href="http://option.eastmoney.com/">期权</a></li>
                    <li class="i">|</li>
                    <li><span class="red"><a target="_blank" href="http://quote.eastmoney.com/flash/00388.html">行情</a></span></li>
                    <li class="i">|</li>
                    <li><a target="_blank" href="http://data.eastmoney.com/">数据</a></li>
                    <li class="i">|</li>
                    <li><a target="_blank" href="http://stock.eastmoney.com/global.html">全球</a></li>
                    <li class="i">|</li>
                    <li><a target="_blank" href="http://stock.eastmoney.com/america.html">美股</a></li>
                    <li class="i">|</li>
                    <li><a target="_blank" href="http://hk.eastmoney.com/">港股</a></li>
                    <li class="i">|</li>
                    <li><a target="_blank" href="http://futures.eastmoney.com/">期货</a></li>
                    <li class="i">|</li>
                    <li><a target="_blank" href="http://forex.eastmoney.com/">外汇</a></li>
                    <li class="i">|</li>
                    <li><a target="_blank" href="http://gold.eastmoney.com">黄金</a></li>
                    <li class="i">|</li>
                    <li><a target="_blank" href="http://bank.eastmoney.com/">银行</a></li>
                    <li class="i">|</li>
                    <li><a target="_blank" href="http://www.1234567.com.cn/">基金</a></li>
                    <li class="i">|</li>
                    <li><a target="_blank" href="http://money.eastmoney.com/">理财</a></li>
                    <li class="i">|</li>
                    <li><a target="_blank" href="http://insurance.eastmoney.com/">保险</a></li>
                    <li class="i">|</li>
                    <li><a target="_blank" href="http://bond.eastmoney.com/">债券</a></li>
                    <li class="i">|</li>
                    <li><a target="_blank" href="http://video.eastmoney.com/">视频</a></li>
                    <li class="i">|</li>
                    <li><span class="red"><a target="_blank" href="http://guba.eastmoney.com/">股吧</a></span></li>
                    <li class="i">|</li>
                    <li><a target="_blank" href="http://fund2.eastmoney.com/">基金吧</a></li>
                    <li class="i">|</li>
                    <li><a target="_blank" href="http://blog.eastmoney.com/">博客</a></li>
                    <li class="i">|</li>
                    <li><a target="_blank" href="http://so.eastmoney.com/">搜索</a></li>
                </ul>
            </div>
        </div>

        <div class="qphox">
            <div class="QVspace"></div>
            <div class="adbox" id="ifhqheadad">
                <ul>
                    <li id="ad1">
                        <iframe width="175" height="90" frameborder="0" scrolling="no" marginwidth="0" marginheight="0" src="https://same.eastmoney.com/s?z=eastmoney&c=22&op=1" id="Iframe1"></iframe>
                    </li>
                    <li id="ov10" style="width:636px;height:90px;">
                        <iframe width="636" height="90" frameborder="0" scrolling="no" marginwidth="0" marginheight="0" src="https://same.eastmoney.com/s?z=eastmoney&c=174&op=1" id="Iframe2"></iframe>
                    </li>
                    <li class="last">
                        <iframe width="175" height="90" frameborder="0" scrolling="no" marginwidth="0" marginheight="0" src="https://same.eastmoney.com/s?z=eastmoney&c=23&op=1" id="Iframe3"></iframe>
                    </li>
                </ul>
            </div>
        </div>

        <div class="qphox">
            <div class="QVspace"></div>
            <div class="lgbox">
                <div class="lbox">
                    <div class="logo ">
                        <a target="_blank" href="http://www.eastmoney.com"><span title="东方财富网"></span></a>
                        <a target="_blank" href="http://quote.eastmoney.com/center/"><span title="行情中心"></span></a>
                    </div>
                    <div class="ogo">
                        <ul>
                            <li><div class="a"></div><a target="_blank" href="http://kuaixun.eastmoney.com/">全球财经快讯</a></li>
                            <li><div class="b"></div><a target="_blank" href="http://data.eastmoney.com/center/">数据中心</a></li>
                            <li><div class="c"></div><a target="_blank" href="http://wap.eastmoney.com/">手机站</a></li>
                            <li><div class="d"></div><a target="_blank" href="https://acttg.eastmoney.com/pub/pctg_hskh_act_gfcgrj_01_01_01_0">客户端</a></li>
                            <li><div class="e"></div><a target="_blank" href="http://choice.eastmoney.com/?adid=953">Choice数据</a></li>
                            <li class="last"><div class="f"></div><a target="_blank" href="http://fundact.eastmoney.com/app/?spm=100003.mjj">手机买基金 牛市赚不停></a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>

        <div class="qphox">
            <div class="QVspace"></div>
            <div class="mainnbox">
                <div class="title"><div class="tit"><b></b><div class="nm"><a href="http://quote.eastmoney.com/center/" target="_blank">行情中心</a></div></div></div>
                <div class="qmbox">
                    <div class="nbox">
                        <div class="lbox">
                            <ul>
                                <li><a href="http://quote.eastmoney.com/center/index.html#zyzs_0_1" target="_blank">指数</a></li>
                                <li>|</li>
                                <li><a href="http://js1.eastmoney.com/tg.aspx?ID=655" target="_blank">期指</a></li>
                                <li>|</li>
                                <li><a href="http://quote.eastmoney.com/center/qiquan.html#1,510050,0_13_0" target="_blank">期权</a></li>
                                <li>|</li>
                                <li><a href="http://quote.eastmoney.com/" target="_blank">个股</a></li>
                                <li>|</li>
                                <li><a href="http://quote.eastmoney.com/center/BanKuai.html#_0_2" target="_blank">板块</a></li>
                                <li>|</li>
                                <li><a href="http://quote.eastmoney.com/center/paihang.html#paihang_0_0" target="_blank">排行</a></li>
                                <li>|</li>
                                <li><a href="http://quote.eastmoney.com/center/list.html#285001_0" target="_blank">新股</a></li>
                                <li>|</li>
                                <li><a href="http://quote.eastmoney.com/center/fund.html#_4" target="_blank">基金</a></li>
                                <li>|</li>
                                <li><a href="http://quote.eastmoney.com/center/hkstock.html#_1" target="_blank">港股</a></li>
                                <li>|</li>
                                <li><a href="http://quote.eastmoney.com/center/usstock.html#_2" target="_blank">美股</a></li>
                                <li>|</li>
                                <li><a href="http://quote.eastmoney.com/center/futures.html#_5" target="_blank">期货</a></li>
                                <li>|</li>
                                <li><a href="http://quote.eastmoney.com/center/forex.html#_6" target="_blank">外汇</a></li>
                                <li>|</li>
                                <li><a href="http://quote.eastmoney.com/center/gold.html#_7" target="_blank">黄金</a></li>
                                <li>|</li>
                                <li><a href="http://quote.eastmoney.com/favor/default.html" target="_blank">自选股</a></li>
                                <li>|</li>
                                <li><a href="http://fund.eastmoney.com/favor.html" target="_blank">自选基金</a></li>
                            </ul>
                        </div>
                        <div class="rbox">
                            <form class="search-box" method="get" target="_blank" style="width: 292px; padding: 3px 0;">
                                <script src="//emcharts.dfcfw.com/suggest/stocksuggest2017.min.js"></script>
                                <input type="text" name="StockCode" id="search_box" style="font-size: 12px;"><input type="submit" value="搜索">
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="qphox">
            <div class="aide">
                <div class="global">
                    <div class="lbox"><div class="tit"><b></b><a href="http://quote.eastmoney.com/center/global.html#global_3" target="_blank">全球股市</a></div></div>
                    <div class="mbox"><b id="btn_down" class="up" title="下滚"></b><b id="btn_up" class="down" title="上滚"></b></div>
                    <div class="rbox">
                        <div id="qqgscont" xvs="0">
                            <ul>
                                <li>
                                    <a href="http://quote.eastmoney.com/zs000001.html" target="_blank" class="blue"><strong>上证</strong></a>：
                                    <span><b>-</b> <b>-</b>  <b>-</b></span>(涨:<b>-</b>平:<b>-</b> 跌:<b>-</b>)
                                    <a href="http://quote.eastmoney.com/zs399001.html" target="_blank" class="blue"><strong>深证</strong></a>：
                                    <span><b>-</b> <b>-</b>  <b>-</b></span>(涨:<b>-</b>平:<b>-</b> 跌:<b>-</b>)
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="qphox">
            <div class="aide nt">
                <div class="dcer">
                    <div class="lbox"><div class="tit"><b></b><a href="http://js1.eastmoney.com/tg.aspx?ID=517" target="_blank">数据中心</a></div></div>
                    <div class="rbox">
                        <ul>
                            <li><a href="http://js1.eastmoney.com/tg.aspx?ID=520" target="_blank">新股申购</a></li>
                            <li><a href="http://js1.eastmoney.com/tg.aspx?ID=522" target="_blank">新股日历</a></li>
                            <li><a href="http://js1.eastmoney.com/tg.aspx?ID=525" target="_blank">资金流向</a></li>
                            <li><a href="http://quote.eastmoney.com/center/list.html#ah_1	" target="_blank" class="red">AH股比价</a></li>
                            <li><a href="http://js1.eastmoney.com/tg.aspx?ID=540" target="_blank">主力排名</a></li>
                            <li><a href="http://js1.eastmoney.com/tg.aspx?ID=615" target="_blank">板块资金</a></li>
                            <li><a href="http://js1.eastmoney.com/tg.aspx?ID=616" target="_blank">个股研报</a></li>
                            <li><a href="http://js1.eastmoney.com/tg.aspx?ID=631" target="_blank">行业研报</a></li>
                            <li><a href="http://js1.eastmoney.com/tg.aspx?ID=635" target="_blank">盈利预测</a></li>
                            <li><a href="http://data.eastmoney.com/stockcomment/" target="_blank">千股千评</a></li>
                            <li><a href="http://data.eastmoney.com/bbsj/" target="_blank">年报季报</a></li>
                            <li><a href="http://js1.eastmoney.com/tg.aspx?ID=693" target="_blank">龙虎榜单</a></li>
                            <li><a href="http://js1.eastmoney.com/tg.aspx?ID=695" target="_blank">限售解禁</a></li>
                            <li><a href="http://js1.eastmoney.com/tg.aspx?ID=731" target="_blank">大宗交易</a></li>
                            <li><a href="http://js1.eastmoney.com/tg.aspx?ID=748" target="_blank">期指持仓</a></li>
                            <li class="last"><a href="http://js1.eastmoney.com/tg.aspx?ID=609" target="_blank">融资融券</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>

        <div class="qphox">
            <div class="aide nt">
                <div class="hgt">
                    <div class="lbox"><div class="tit"><b></b><a href="http://quote.eastmoney.com/center/hgtstock.html#_12" target="_blank">沪深港通</a></div></div>
                    <div class="rbox">
                        <div style="margin-left: 2px; float: left; padding: 0 2px; width: 215px; text-align: center; position: relative;">
                            <a href="http://quote.eastmoney.com/center/list.html#28003707_12_2" target="_blank" class="sg">沪股通</a>
                            <span class="run" id="hgtrun"><b class="off"></b>暂停</span>
                            <a style="color: #039;text-decoration: underline;" href="http://data.eastmoney.com/hsgt/index.html" target="_blank">资金流入</a><span style="text-decoration: underline;" id="hgtzj">
                            <b>
                                <a href="http://data.eastmoney.com/hsgt/index.html" target="_blank">0.00</a>
                            </b>万
                        </span>
                            <span class="lx" style="position: absolute; right: 0;">|</span>
                        </div>
                        <div style="float: left; padding: 0 2px; width: 215px; text-align: center; position: relative;">
                            <a href="http://quote.eastmoney.com/center/list.html#28013804_12_3" target="_blank" class="sg">深股通</a>
                            <span class="run" id="sgtrun"><b class="off"></b>暂停</span>
                            <a style="color: #039;text-decoration: underline;" href="http://data.eastmoney.com/hsgt/index.html" target="_blank">资金流入</a><span style="text-decoration: underline;" id="sgtzj"><b><a href="http://data.eastmoney.com/hsgt/index.html" target="_blank">0.00</a></b>万</span><span class="lx" style="position: absolute; right: 0;">|</span>
                        </div>
                        <div style="float: left; padding: 0 2px; width: 232px; text-align: center; position: relative;">
                            <a href="http://quote.eastmoney.com/center/list.html#mk0144_12" target="_blank" class="sg">港股通(沪)</a>
                            <span class="run" id="ggthrun"><b class="off"></b>暂停</span>
                            <a style="color: #039;text-decoration: underline;" href="http://data.eastmoney.com/hsgt/index.html" target="_blank">资金流入</a><span style="text-decoration: underline;" id="ggthzj"><b><a href="http://data.eastmoney.com/hsgt/index.html" target="_blank">0.00</a></b>万</span>
                            <span class="lx" style="position: absolute; right: 0;">|</span>
                        </div>
                        <div style="float: left;  padding: 0 2px; width: 232px; text-align: center; position: relative;">
                            <a href="http://quote.eastmoney.com/center/list.html#mk0146_12" target="_blank" class="sg">港股通(深)</a>
                            <span class="run" id="ggtsrun"><b class="off"></b>暂停</span>
                            <a style="color: #039;text-decoration: underline;" href="http://data.eastmoney.com/hsgt/index.html" target="_blank">资金流入</a><span style="text-decoration: underline;" id="ggtszj"><b><a href="http://data.eastmoney.com/hsgt/index.html" target="_blank">0.00</a></b>万</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="qphox">
            <div class="aide nb">
                <div class="hisacc">
                    <div id="histit" class="tit">最近访问：</div>
                    <div id="historyest" class="list tile"></div>
                    <div class="tb1105">
                        <div class="zuhe">
                            <span class="lks"><a href="http://group.eastmoney.com/index.html" target="_blank" class="a"><b></b>投资组合</a>:</span>
                            <ul id="zhrool" style="width:120px;height:28px;overflow:hidden;" onmouseover="iScrollAmount=0" onmouseout="iScrollAmount=1">
                                <li><a href="http://group.eastmoney.com/index.html" target="_blank">高手日收益达<span>21%</span></a></li>
                                <li><a href="http://group.eastmoney.com/index.html" target="_blank">高手周收益达<span>37%</span></a></li>
                                <li><a href="http://group.eastmoney.com/index.html" target="_blank">高手月收益达<span>138%</span></a></li>
                            </ul>
                        </div>
                        <div class="bglc">
                            <span class="lks"><a href="http://js1.eastmoney.com/tg.aspx?ID=3979" target="_blank" class="b"><b></b>头条</a>:</span>
                            <a id="head_toutiao" href="http://js1.eastmoney.com/tg.aspx?ID=3979" target="_blank" class="red"></a>
                            <div id="ieTt" style="display:none;"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <script type="text/javascript" language="JavaScript">

            setTimeout(function () {
                var arg = {
                    text: "输代码、名称或简拼",
                    autoSubmit: true,
                    width: 195,
                    header: ["选项", "代码", "名称", "类型"],
                    body: [-1, 1, 4, -2],
                    callback: function (arg) { }
                };

                qphf.getIndexQuote(20);

                var arg = { def: "", set: "", lns: 0 }; var HV = new HistoryViews("historyest", arg);
                //zhrun();
            }, 500);

            var newsuggest = new suggest2017({ //新建实例
                inputid: "search_box", //参数部分
                offset: { left: -91, top: 5 },
                shownewtips: true,
                zindex: 2147483647,
                newtipsoffset: { top: -4, left: 0 }
            });
        </script>
    </div>
    <div class="maintop">
        <div class="head_top">
            <h1>
            <span>
                <i>00388<text>.HK</text></i>
                    <span style="margin-left: -10px; min-width: 40px; max-width: 160px; overflow: hidden; height: 27px; text-overflow: ellipsis;" title="香港交易所" class="clsName">香港交易所</span>
                    <span style="display:none" class="clsSlh">...</span>

            </span>
            </h1>
            <ul class="header">
                <li>最新价:<span id="hq1" style="padding-left:8px">----</span></li>
                <li>涨跌:<span id="hq2" style="padding-left:8px">----</span></li>
                <li>涨跌幅:<span id="hq3" style="padding-left:8px">----</span></li>
                <li>振幅:<span id="hq4" style="padding-left:8px" class="span_gray">----</span></li>
                <li>成交量:<span id="hq5" style="padding-left:8px" class="span_gray">----</span></li>
                <li>成交额:<span id="hq6" style="padding-left:8px" class="span_blue">----</span></li>
            </ul>

        </div>
        <ul class="header_list">
            <li id="CoreReading">
                <a href="/PC_HKF10/CoreReading/index?type=web&amp;code=00388&color=b">核心必读</a>
            </li>
            <li id="FinancialAnalysis">
                <a href="/PC_HKF10/NewFinancialAnalysis/index?type=web&amp;code=00388&color=b">财务分析</a>
            </li>
            <li id="BusinessExpectation">
                <a href="/PC_HKF10/BusinessExpectation/index?type=web&amp;code=00388&color=b">业务展望</a>
            </li>
            <li id="CapitalStructure">
                <a href="/PC_HKF10/CapitalStructure/index?type=web&amp;code=00388&color=b">股本结构</a>
            </li>
            <li id="MajorShareholder">
                <a href="/PC_HKF10/MajorShareholder/index?type=web&amp;code=00388&color=b">主要股东</a>
            </li>
            <li id="IndustryComparison" class="list_li">
                <a href="/PC_HKF10/IndustryComparison/index?type=web&amp;code=00388&color=b">行业对比</a>
            </li>
            <li id="CorporateEvents">
                <a href="/PC_HKF10/CorporateEvents/index?type=web&amp;code=00388&color=b">公司大事</a>
            </li>
            <li id="InvestmentRating">
                <a href="/PC_HKF10/InvestmentRating/index?type=web&amp;code=00388&color=b">投资评级</a>
            </li>
            <li id="RelatedWarrants">
                <a href="/PC_HKF10/RelatedWarrants/index?type=web&amp;code=00388&color=b">关联权证</a>
            </li>
            <li id="CompanyProfile">
                <a href="/PC_HKF10/CompanyProfile/index?type=web&amp;code=00388&color=b">公司概况</a>
            </li>
            <li id="CompanyManager">
                <a href="/PC_HKF10/CompanyManager/index?type=web&amp;code=00388&color=b">公司高管</a>
            </li>
            <li id="CompanyNews" class="list_li">
                <a href="/PC_HKF10/CompanyNews/index?type=web&amp;code=00388&color=b">资讯公告</a>
            </li>
        </ul>
    </div>
    <div style="clear:both;"></div>
    <script src="https://emres.dfcfw.com/public/js/topnav.js?v=1.0.1.4976" type="text/javascript"></script>        <div>
    <script type="text/template" id="tlp">
        <div class="title_com" id="scbx">
            <p class="p_main">市场表现对比</p>
        </div>
        {{if scbxdb&&scbxdb.length>0 }}
        <div class="echart-compare">
            <div id="scbxChart" class="echarts" style="width: 943px;display:none; "></div>
            <div id="scbxChartLoading" style="text-align:center" class="echarts">
                暂无图表数据

            </div>
        </div>
        <table id="tbscbx" class="table-market">
            <tr>
                <th>代码</th>
                <th>简称</th>
                <th id="thscbx1" data-type="1">最近1个月累计涨跌幅</th>
                <th id="thscbx3" data-type="2">最近3个月累计涨跌幅</th>
                <th id="thscbx6" data-type="3">最近6个月累计涨跌幅</th>
                <th id="thscbx12" data-type="4">今年以来累计涨幅</th>
            </tr>
            {{each scbxdb as value i}}
            <tr>
                <td class="white">{{value.dm}}</td>
                <td class="white">{{value.jc}}</td>
                <td>{{value.ljzdf1}}</td>
                <td>{{value.ljzdf3}}</td>
                <td>{{value.ljzdf6}}</td>
                <td>{{value.ljzdf}}</td>
            </tr>
            {{/each}}
        </table>
        <p class="p-remark">注：点击表格内的阶段涨跌幅名称可切换图片查看相应历史走势</p>
        {{else}}
        <p class="no-data">暂无相关数据</p>
        {{/if}}
        <div class="title_com" id="czx">
            <p class="p_main">成长性对比</p>
            {{if czxdb&&czxdb.length>0 }}
            <p class="p_date">截止日期：{{czxdb[0].rq}}</p>
            {{/if}}
        </div>
        {{if czxdb&&czxdb.length>0}}
        <div class="echart-compare">
            <div class="echarts" id="czxdbChart"></div>
        </div>
        <div id="divczxdb">
            {{include 'czxdbTemp'}}
        </div>
        <p class="p-remark">注：点击指标名称进行行业排名</p>
        {{else}}
        <p class="no-data">暂无相关数据</p>
        {{/if}}
        <div class="title_com" id="gzdb">
            <p class="p_main">估值对比</p>
            {{if gzdb&&gzdb.length>0 }}
            <p class="p_date">截止日期：{{gzdb[0].rq}}</p>
            {{/if}}
        </div>
        {{if gzdb&&gzdb.length>0 }}
        <div class="echart-compare">
            <div class="echarts" id="gzdbChart"></div>
        </div>
        <div id="divgzdb">
            {{include 'gzdbTemp'}}
        </div>
        <p class="p-remark">注：点击指标名称进行行业排名</p>
        {{else}}
        <p class="no-data">暂无相关数据</p>
        {{/if}}
        <div class="title_com" id="gmdb">
            <p class="p_main">规模对比</p>
            {{if gmdb&&gmdb.length>0 }}
            <p class="p_date">截止日期：{{gmdb[0].rq}}</p>
            {{/if}}
        </div>
        {{if gmdb&&gmdb.length>0 }}
        <div class="echart-compare">
            <div class="echarts" id="gmdbChart"></div>
        </div>
        <div id="divgmdb">
            {{include 'gmdbTemp'}}
        </div>
        <p class="p-remark">注：点击指标名称进行行业排名</p>
        {{else}}
        <p class="no-data">暂无相关数据</p>
        {{/if}}
    </script>

    <script type="text/template" id="czxdbTemp">
        <table id="tbczxdb" class="table-market">
            <thead>
            <tr>
                <th>排名</th>
                <th>代码</th>
                <th>简称</th>
                <th id="thjbmgsytbzzl" class="{{!type||type==1?'recent':''}}" data-type="1">基本每股收益同比增长率(%)</th>
                <th id="thyysrtbzzl" class="{{type==2?'recent':''}}" data-type="2">营业收入同比增长率(%)</th>
                <th id="thyylrtbzzl" class="{{type==3?'recent':''}}" data-type="3">营业利润同比增长率(%)</th>
                <th id="thzzctbzzl" class="{{type==4?'recent':''}}" data-type="4">总资产同比增长率(%)</th>
            </tr>
            </thead>
            <tbody id="tbodyczxdb">
            {{each czxdb as value i }}
            {{if i==1||i==2}}
            <tr class="tr-gray">
                <td class="white-font" colspan="3">{{value.dm}}</td>
                <td>{{value.jbmgsytbzzl}}</td>
                <td>{{value.yysytbzzl}}</td>
                <td>{{value.yylrtbzzl}}</td>
                <td>{{value.zzctbzzl}}</td>
            </tr>
            {{else}}
            <tr>
                <td class="white-font">{{value.pm}}</td>
                <td class="white-font">{{value.dm}}</td>
                <td class="white-font">{{value.jc}}</td>
                <td>{{value.jbmgsytbzzl}}</td>
                <td>{{value.yysytbzzl}}</td>
                <td>{{value.yylrtbzzl}}</td>
                <td>{{value.zzctbzzl}}</td>
            </tr>
            {{/if}}
            {{/each}}
            </tbody>
        </table>
    </script>

    <script type="text/template" id="gzdbTemp">
        <table id="tbgzdb" class="table-market">
            <thead>
            <tr>
                <th rowspan="2">排名</th>
                <th rowspan="2">代码</th>
                <th rowspan="2">简称</th>
                <th colspan="2">市盈率</th>
                <th colspan="2">市净率</th>
                <th colspan="2">市销率</th>
                <th colspan="2">市现率</th>
            </tr>
            <tr>
                <th id="thsyl_ttm" class="{{!type||type==1?'recent':''}} white" data-type="1">TTM</th>
                <th id="thsyl_lyr" class="{{type==2?'recent':''}} white" data-type="2">LYR</th>
                <th id="thsjl_mbq" class="{{type==3?'recent':''}} white" data-type="3">MRQ</th>
                <th id="thsjl_lyr" class="{{type==4?'recent':''}} white" data-type="4">LYR</th>
                <th id="thsxl_ttm" class="{{type==5?'recent':''}} white" data-type="5">TTM</th>
                <th id="thsxl_lyr" class="{{type==6?'recent':''}} white" data-type="6">LYR</th>
                <th id="thsxl1_mbq" class="{{type==7?'recent':''}} white" data-type="7">TTM</th>
                <th id="thsxl1_lyr" class="{{type==8?'recent':''}} white" data-type="8">LYR</th>
            </tr>
            </thead>
            <tbody id="tbodygzdb">
            {{each gzdb as value i }}
            {{if i==1||i==2}}
            <tr class="tr-gray">
                <td class="white-font" colspan="3">{{value.dm}}</td>
                <td>{{value.syl_ttm}}</td>
                <td>{{value.syl_lyr}}</td>
                <td>{{value.sjl_mrq}}</td>
                <td>{{value.sjl_lyr}}</td>
                <td>{{value.sxl_ttm}}</td>
                <td>{{value.sxl_lyr}}</td>
                <td>{{value.sxl1_ttm}}</td>
                <td>{{value.sxl1_lyr}}</td>
            </tr>
            {{else}}
            <tr>
                <td class="white-font">{{value.pm}}</td>
                <td class="white-font">{{value.dm}}</td>
                <td class="white-font">{{value.jc}}</td>
                <td>{{value.syl_ttm}}</td>
                <td>{{value.syl_lyr}}</td>
                <td>{{value.sjl_mrq}}</td>
                <td>{{value.sjl_lyr}}</td>
                <td>{{value.sxl_ttm}}</td>
                <td>{{value.sxl_lyr}}</td>
                <td>{{value.sxl1_ttm}}</td>
                <td>{{value.sxl1_lyr}}</td>
            </tr>
            {{/if}}
            {{/each}}
            </tbody>
        </table>
    </script>

    <script type="text/template" id="gmdbTemp">
        <table id="tbgmdb" class="table-market">
            <thead>
            <tr>
                <th>排名</th>
                <th>代码</th>
                <th>简称</th>
                <th id="thzsz" class="{{!type||type==1?'recent':''}}" data-type="1">总市值(元)</th>
                <th id="thltsz" class="{{type==2?'recent':''}}" data-type="2">流通市值(元)</th>
                <th id="thyysr" class="{{type==3?'recent':''}}" data-type="3">营业收入(元)</th>
                <th id="thjlr" class="{{type==4?'recent':''}}" data-type="4">净利润(元)</th>
            </tr>
            </thead>
            <tbody id="tbodygmdb">
            {{each gmdb as value i }}
            {{if i==1||i==2}}
            <tr class="tr-gray">
                <td class="white-font" colspan="3">{{value.dm}}</td>
                <td>{{value.zsz}}</td>
                <td>{{value.ltsz}}</td>
                <td>{{value.yysr}}</td>
                <td>{{value.jlr}}</td>
            </tr>
            {{else}}
            <tr>
                <td class="white-font">{{value.pm}}</td>
                <td class="white-font">{{value.dm}}</td>
                <td class="white-font">{{value.jc}}</td>
                <td>{{value.zsz}}</td>
                <td>{{value.ltsz}}</td>
                <td>{{value.yysr}}</td>
                <td>{{value.jlr}}</td>
            </tr>
            {{/if}}
            {{/each}}
            </tbody>
        </table>
    </script>

    <div class="maintop" style="margin-top:105px">
        <ul class="header_com">
            <li class="list_color"><a href="#scbx">市场表现对比</a></li>
            <li><a href="#czx">成长性对比</a></li>
            <li><a href="#gzdb">估值对比</a></li>
            <li class="list_com"><a href="#gmdb">规模对比</a></li>
        </ul>
    </div>
    <div id="tlp_data" class="container">
        <div class="title_com" id="scbx">
            <p class="p_main">市场表现对比</p>
        </div>
        <div style="text-align:center">
            <img src="/PC_HKF10/Content/Img/loading.gif" />
        </div>
        <div class="title_com" id="czx">
            <p class="p_main">成长性对比</p>
        </div>
        <div style="text-align:center">
            <img src="/PC_HKF10/Content/Img/loading.gif" />
        </div>
        <div class="title_com" id="gzdb">
            <p class="p_main">估值对比</p>
        </div>
        <div style="text-align:center">
            <img src="/PC_HKF10/Content/Img/loading.gif" />
        </div>
        <div class="title_com" id="gmdb">
            <p class="p_main">规模对比</p>
        </div>
        <div style="text-align:center">
            <img src="/PC_HKF10/Content/Img/loading.gif" />
        </div>
    </div>

    <script src="/PC_HKF10/Content/JSCommon/ChartTheme.js?v=1.0.1.4976"></script>
    <script type="text/javascript" src="/PC_HKF10/Content/JSLib/echarts.min.js?v=1.0.1.4976"></script>

</div>
    <style>
        .footer {
            margin-top: 20px;
            font-size: 12px;
            line-height: 18px;
        }

        .footer .disclaimer {
            margin-top: 10px;
            color: #373737;
            text-align: left;
        }
    </style>
    <div class="footer" style="position:relative;width: 1000px;">
        <div class="disclaimer">
            郑重声明：本网站所刊载的所有资料及图表仅供参考使用。投资者依据本网站提供的信息、资料及图表进行金融、证券等投资所造成的盈亏与本网站无关。本网站如因系统维护或升级而需暂停服务，或因线路及超出本公司控制范围的硬件故障或其它不可抗力而导致暂停服务，于暂停服务期间造成的一切不便与损失，本网站不负任何责任。
        </div>
    </div>
    <iframe width="100%" height="330" scrolling="no" frameborder="0" src="https://emres.dfcfw.com/public/footer-1000-iframe.html" style="width: 100%;height:330px;"></iframe>
</div>

<style type="text/css">
    th[data-type] {
        cursor: pointer;
    }
</style>

<script>
    EM.loader.use("IndustryComparison.js?v=1.0.1.4976");
</script>

<script src="/PC_HKF10/Content/js/scrolltop.js?v=1.0.1.4976"></script>
<script type="text/javascript">

    var b = getb();
    if (b.chrome || b.webkit) {
        EM("#rm_advise").attr("rel", "return (false && [].push(\'#type=03&title=留言&url=https://emdesk.eastmoney.com/pc_ad/pages/leavemessage/pages/leavemessage.html?title=东方财富通&sver=7_4108&at=f10&url=" + encodeURIComponent(window.location.href) + "\'));");
    }
    else {
        EM("#rm_advise").attr("onclick", "return (false && [].push(\'#type=03&title=留言&url=https://emdesk.eastmoney.com/pc_ad/pages/leavemessage/pages/leavemessage.html?title=东方财富通&sver=7_4108&at=f10&url=" + encodeURIComponent(window.location.href) + "\'));");
    }
    function getb() {
        var ua = window.navigator.userAgent.toLowerCase();
        var b = {
            msie: /msie/.test(ua) && !/opera/.test(ua),
            opera: /opera/.test(ua),
            safari: /webkit/.test(ua) && !/chrome/.test(ua),
            firefox: /firefox/.test(ua),
            chrome: /chrome/.test(ua),
            webkit: /webkit/.test(ua)
        };
        var vMark = "";
        for (var i in b) {
            if (b[i]) {
                vMark = "safari" == i ? "version" : i;
                break
            }
        }
        b.version = vMark && RegExp("(?:" + vMark + ")[\\/: ]([\\d.]+)").test(ua) ? RegExp.$1 : "0";
        b.ie = b.msie;
        b.ie6 = b.msie && parseInt(b.version, 10) == 6;
        b.ie7 = b.msie && parseInt(b.version, 10) == 7;
        b.ie8 = b.msie && parseInt(b.version, 10) == 8;
        return b
    }

    $('.data-tab li').click(function () {
        $(this).parent().find('.active').removeClass('active');
        $(this).addClass('active');
    });

    function setQuoteSize() {
        $(".header li").css({ "margin-right": "0px" });
        var length = $(".head_top").width() - $("h1").width() - $(".header").width() - 35;
        if (length > 0) {
            $(".header li").css({ "margin-right": Math.floor(length / 6) + "px" });
        }
    }

    setQuoteSize();
</script>
<script>

    if (location.href.toLowerCase().indexOf("/financialanalysis") > 0
        || location.href.toLowerCase().indexOf("/newfinancialanalysis") > 0
        || location.href.toLowerCase().indexOf("/zycwzb.aspx") > 0
        || location.href.toLowerCase().indexOf("/zcfzb.aspx") > 0
        || location.href.toLowerCase().indexOf("/zhsyb.aspx") > 0
        || location.href.toLowerCase().indexOf("/xjllb.aspx") > 0) {
        // 财务分析
        EM("#FinancialAnalysis").addClass("list_red");
    }
    else if (location.href.toLowerCase().indexOf("/businessexpectation") > 0
        || location.href.toLowerCase().indexOf("/ywhg.aspx") > 0
        || location.href.toLowerCase().indexOf("/ywzw.aspx") > 0) {
        // 业务展望
        EM("#BusinessExpectation").addClass("list_red");
    }
    else if (location.href.toLowerCase().indexOf("/capitalstructure") > 0
        || location.href.toLowerCase().indexOf("/gbjg.aspx") > 0) {
        //股本结构
        EM("#CapitalStructure").addClass("list_red");
    }
    else if (location.href.toLowerCase().indexOf("/majorshareholder") > 0
        || location.href.toLowerCase().indexOf("/zygd.aspx") > 0
        || location.href.toLowerCase().indexOf("/gqbd.aspx") > 0
        || location.href.toLowerCase().indexOf("/jgcg.aspx") > 0) {
        //主要股东
        EM("#MajorShareholder").addClass("list_red");
    }
    else if (location.href.toLowerCase().indexOf("/industrycomparison") > 0) {
        //行业对比
        EM("#IndustryComparison").addClass("list_red");
    }
    else if (location.href.toLowerCase().indexOf("/corporateevents") > 0
        || location.href.toLowerCase().indexOf("/fhrz.aspx") > 0
        || location.href.toLowerCase().indexOf("/jbsj.aspx") > 0
        || location.href.toLowerCase().indexOf("/ipozl.aspx") > 0
        || location.href.toLowerCase().indexOf("/gphg.aspx") > 0
        || location.href.toLowerCase().indexOf("/cghg.aspx") > 0) {
        //公司大事
        EM("#CorporateEvents").addClass("list_red");
    }
    else if (location.href.toLowerCase().indexOf("/investmentrating") > 0
        || location.href.toLowerCase().indexOf("/jgpj.aspx") > 0) {
        //投资评级
        EM("#InvestmentRating").addClass("list_red");
    }
    else if (location.href.toLowerCase().indexOf("/relatedwarrants") > 0
        || location.href.toLowerCase().indexOf("/wlnxz.aspx") > 0) {
        //关联权证
        EM("#RelatedWarrants").addClass("list_red");
    }
    else if (location.href.toLowerCase().indexOf("/companyprofile") > 0
        || location.href.toLowerCase().indexOf("/gsjs.aspx") > 0) {
        //公司概况
        EM("#CompanyProfile").addClass("list_red");
    }
    else if (location.href.toLowerCase().indexOf("/companymanager") > 0
        || location.href.toLowerCase().indexOf("/dshcy.aspx") > 0
        || location.href.toLowerCase().indexOf("/jshcy.aspx") > 0
        || location.href.toLowerCase().indexOf("/jyglcy.aspx") > 0) {
        //公司高管
        EM("#CompanyManager").addClass("list_red");
    }
    else if (location.href.toLowerCase().indexOf("/companynews") > 0
        || location.href.toLowerCase().indexOf("/gsxw.aspx") > 0) {
        //公司资讯
        EM("#CompanyNews").addClass("list_red");
    }
    else {
        //核心必读
        EM("#CoreReading").addClass("list_red");
    }

    var code = "00388";
    // setInterval("hq()", 30000);
    function hq() {
        var url = "https://push2.eastmoney.com/api/qt/stock/get?secid=116." + code + "&ut=f057cbcbce2a86e2866ab8877db1d059"
            + "&fields=f57,f58,f43,f60,f169,f170,f171,f168,f47,f48&np=1&fltt=2&invt=2";

        jQuery.ajax({
            type: "get",
            url: url,
            dataType: 'jsonp',
            jsonp: 'cb',
            success: function (json) {
                if (!json || !json.data || !json.data.f58)
                    return;


                var temp = json.data;

                if (!isNaN(temp.f43)) {
                    temp.f43 = temp.f43.toFixed(3);
                }

                if (!isNaN(temp.f169)) {
                    temp.f169 = temp.f169.toFixed(3);
                }

                if (!isNaN(temp.f170)) {
                    temp.f170 = temp.f170.toFixed(2);
                }

                if (!isNaN(temp.f171)) {
                    temp.f171 = temp.f171.toFixed(2);
                }

                EM("#hq1").removeClass("span_color").removeClass("span_red");
                //最新价 f43
                //昨收价 f60
                var open = Number(temp.f60);
                if (isNaN(open)) {
                    EM("#hq1").html(temp.f43);
                }
                else {
                    if (open > Number(temp.f43)) {
                        EM("#hq1").html(temp.f43).addClass("span_color");
                    }
                    else if (open == Number(temp.f43)) {
                        EM("#hq1").html(temp.f43);
                    }
                    else {
                        EM("#hq1").html(temp.f43).addClass("span_red");
                    }
                }

                //涨跌 f169
                EM("#hq2").removeClass("span_color").removeClass("span_red");
                EM("#hq2").html(temp.f169);
                if (Number(temp.f169) > 0) {
                    EM("#hq2").html(temp.f169).addClass("span_red");
                }
                else if (Number(temp.f169) < 0) {
                    EM("#hq2").html(temp.f169).addClass("span_color");
                }
                else {

                }

                //涨跌幅 f170
                EM("#hq3").removeClass("span_color").removeClass("span_red");
                EM("#hq3").html(temp.f170 + "%");
                if (Number(temp.f170) > 0) {
                    EM("#hq3").html(temp.f170 + "%").addClass("span_red");
                }
                else if (Number(temp.f170) < 0) {
                    EM("#hq3").html(temp.f170 + "%").addClass("span_color");
                }

                //振幅 f171
                EM("#hq4").html(temp.f171 + "%");
                //成交量 f47
                EM("#hq5").html(formatToYiWan(temp.f47.toString()));
                //成交额 f48
                EM("#hq6").html(formatToYiWan(temp.f48.toString()));

                //证券名称 f58
                if (temp.f58) {
                    //chinese +2  english +1
                    var lengthTotal = 0;
                    for (var i = 0; i < temp.f58.length; i++) {
                        if (/.*[\u4e00-\u9fa5]+.*/.test(temp.f58[i])) { // has chinese
                            lengthTotal += 2;
                        } else {
                            lengthTotal += 1;
                        }
                    }
                    $(".clsName").text(temp.f58);
                    document.title = temp.f58 + document.title.substring(document.title.indexOf('('), document.title.length);
                    if (lengthTotal > 16) {
                        $(".clsSlh").show();
                    } else {
                        $(".clsSlh").hide();
                    }
                }
                setQuoteSize();
            }
        });
    }

    function formatToYiWan(data) {
        var result;
        if (isNaN(data))
            return "----";

        if (data.length >= 9) {
            result = (Number(data) / (10000 * 10000)).toFixed(2) + "亿";
        }
        else {
            result = (Number(data) / 10000).toFixed(2) + "万";
        }

        return result;
    }

    hq();
</script>
<script>
    $(function () {
        if ($("#hidType").val().toLowerCase() == "soft") {
            if ($("#hidColor").val().toLowerCase() == "w") {
                $(".maintop").last().css("margin-top", "102px");
            }
            else {
                $(".maintop").last().css("margin-top", "98px");
            }
        }
        else {
            //$("#tlp_data_other").css("margin-top", "-35px");
            $(".maintop").last().css("margin-top", "0px");
            //$("#tlp_data").css("margin-top", "-72px");
        }
    });

</script>
<script type="text/javascript" src="https://bdstatics.eastmoney.com/web/prd/jump_tracker.js?v=1.0.1.4976" charset="UTF-8"></script>
</body>
</html>
